.catalog {
  display: grid;
  grid-template-columns: (1, $widthCard);
  justify-content: center;
  gap: 48px;

  @each $index, $widthScreen in $screen {
    @media (min-width: #{$widthScreen}) {
      grid-template-columns: repeat(#{$index}, $widthCard);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
